.footer-content-left,.footer-content-right,.footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
}
.footer-content-left li,.footer-content-right li,.footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}